---
- name: Automate SNOW 
  hosts: localhost
  connection: local
  collections:
    - servicenow.itsm

  vars:
    demo_username: "{{ lookup('env', 'SN_USERNAME') }}"

  tasks:
  - name: Create/update configuration item
    servicenow.itsm.configuration_item:
      name: "{{ item.hostname }}-{{ demo_username }}"
      assigned_to: "{{ demo_username }}"
      ip_address: "{{ item.default_ip }}"
      mac_address: "{{ item.default_mac }}"
      environment: test

      other:
        sys_class_name: cmdb_ci_linux_server

        host_name: "{{ item.hostname }}"
        cpu_count: "{{ item.cpu }}"
        cpu_core_count: "{{ item.cpu }}"
        ram: "{{ item.memory_mb }}"
        architecture: "{{ item.architecture }}"
        os_version: "{{ item.os_version }}"
        disk_space: "{{ item.disk_gb | default(omit) }}"
        dns_domain: "lab.local"

        description: >-
          {{ item.cpu }} CPUs, {{ item.memory_mb }}MB RAM,
          {{ item.os }} {{ item.os_version }} ({{ item.architecture }})

    loop: "{{ node_info }}"
    register: configuration_item

  - debug:
      msg: "Created/updated CI {{ item.record.name }}"
    loop: "{{ configuration_item.results }}"

